
html {
  font-family: 'Roboto', sans-serif;
  }
  .titulo{
    color:orange;
  }
  /* section styles */
  
  section article {
    width: 33%;
    float: left;
  }
  section p {
    margin: 5px 0;
  }
  section canvas{
    width:750px;
    height:250px;
    
  }
  h4{
    color:grey !important;
    text-align: center;
    margin-right: 180px;
  }
  h2 {
    text-align: center;
    margin-right: 180px;
  }
  h3 {
    display: inline;
  }
  #smartphoneTitulo{
    color : #2f6800;
  }
  #tabletTitulo{
    color : #72d801;
  }
  #smartphoneData{
    color : #c8c8c8;
  }
  #tableData{
    color : #c8c8c8;
  }
  .tablet{
    display: inline-block;
    margin-left: 10px;
  }
  .smartphone{
    display: inline-block;
    margin-left: 120px;
  }