
html {
  font-family: 'Roboto', sans-serif;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
  }
  
  /* header styles */
  
  h1 {
    text-align: center;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* section styles */
  
  section article {
    width: 33%;
    float: left;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  
  h2 {
    letter-spacing: -5px;
    margin-bottom: 10px;
  }